#root {
  max-width: 1280px;
  margin: 0 auto;
}

.appContainer{
  display: flex;
	justify-content: center;
  flex-direction: column;
	margin-top: 5vh;
  border-radius: 8px;
  background-color: rgb(185, 185, 185);
  padding: 2rem;
  gap:25px
}

.container{
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 1.5rem;
  background-color: rgb(150, 150, 150);
}

.createForm{
  display: flex;
	flex-direction: column;
	gap: 2vh;
}

.createFormInput {
  display: flex;
	flex-direction: column;
	gap: 1vh;
}

.inputContainer {
  display: flex;
}

.inputIcon {
 width: 30px;
 cursor: pointer;
 border: 2px solid black;
 border-radius: 8px;
 margin-left: 5px;
}

.paramList{
  display: flex;
	flex-direction: column;
	gap: 2vh;
}

@media (max-width: 600px) {
  .appContainer{
    margin-top: 0
  }
}